@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1C1C1C;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    padding: 1.05rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: max-content;
}

.button-base {
    background: #62706B;
    width: 200px;
    height: 200px;
    border-radius: 55px;
}

.btn {
    outline: none;
    cursor: pointer;
    font-family: "Syne", sans-serif;
    font-weight: 900;
    border: 2px solid #8b1c1c;
    background: #FF4141;
    width: 80%;
    height: 80%;
    position: absolute;
    font-size: 1.5rem;
    border-radius: 55px;
    color: #8b1c1c;
    box-shadow: 0 3px 0 #8b1c1c;
    transition: 100ms ease;
}

.btn:hover {
    transform: scale(1.025);
}

.btn:active {
    transform: scale(0.9);
}

.corner {
    font-family: "Syne", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ddd;
    padding: 0.5rem;
    position: absolute;
    right: 0;
    top: 0;
}

.settings-corner {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1.15rem;
}

#settings-btn {
    cursor: pointer;
    font-family: "Syne", sans-serif;
    font-weight: 800;
    padding: 1.05rem;
    border-radius: 10px;
    border: 3px solid #000;
    background: #FF4141;
    transition: 110ms ease;
}

#settings-btn:hover {
    transform: scale(1.05);
}

#settings-btn:active {
    transform: scale(.9);
}

.settings-panel {
    display: none;
    position: absolute;
    padding: 2rem;
    background: #3338369a;
    backdrop-filter: blur(7px);
    border-radius: 12px;
}

.active {
    display: block;
}

.settings-panel p {
    text-align: center;
    color: #fff;
    font-family: "Syne", sans-serif;
    font-size: 1.75rem;
}

.grid {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px 8px;
}

.btn-color {
    cursor: pointer;
    min-width: 55px;
    min-height: 55px;
    border: none;
    border-radius: 12px;
    transition: 100ms ease-in;
}

.btn-color:hover {
    transform: scale(1.05) rotateZ(8deg);
}

.btn-color:active {
    transform: scale(.9) rotateZ(0);
}

#blueBtn {
    background: #548aa3;
    border: 2px solid #2b5061;
}

#redBtn {
    background: #FF4141;
    border: 2px solid #8b1c1c;
}

#pinkBtn {
    background: #d15cd1;
    border: 2px solid #58055f;
}

#yellowBtn {
    background: #c2c048;
    border: 2px solid #4d4806;
}

#summerBtn {
    background: linear-gradient(-65deg, #e7e55a, #548aa3);
    border: 2px solid #4e8fad;
}